{% extends 'base.html' %}

{% block page_title %}
    <title>{{ meta.title }} - {{ blog.title }}</title>
{% endblock %}
        
{% block content %}
    <article>
        <header>
            <h2>
                {% if meta.link %}
                <a class="link-post" href="{{ meta.link }}">{{ meta.title }}</a><span class="linkarrow">&rarr;</span>
                {% else %}
                {{ meta.title }}
                {% endif %}
            </h2>
            <a href="{{ meta.uri }}"><time datetime="{{ meta.date.strftime("%Y-%m-%d") }}">{{ meta.date.strftime("%B %d, %Y").lstrip("0").replace(" 0", " ") }}</time></a>
        </header>
        <div class="post-text">
            {{ body|safe() }}
        </div>
        <div class="fin">*&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;&nbsp;*</div>
    </article>

{% endblock %}